<h1 class="text-2xl font-bold my-5">Registrar Nuevo Viaje</h1>

<form action="/crear-viaje" method="POST" hx-boost hx-post="/crear-viaje" hx-target="#page-container" hx-swap="innerHTML">
    <legend></legend>
    <div class="join join-vertical w-full">
        <div class="collapse collapse-arrow join-item border border-base-300">
            <input type="radio" name="my-accordion-4" checked="checked" /> 
            <div class="collapse-title text-xl font-medium">
                Seleccione el barco
            </div>
            <div class="collapse-content flex flex-col"> 
                <div class="my-5 self-start flex flex-row w-full">
                    <div class="form flex flex-row grow self-start">
                        <label for="busqueda-barco" class="label mr-3">Buscar:</label>
                        <input type="search"
                                name="busqueda-barco" 
                                class="input input-bordered w-30 max-w-xs mr-3"
                                hx-post="/listar-barcos"
                                hx-trigger="keyup changed delay:500ms, search"
                                hx-target="#lista-barcos"
                                hx-swap="innerHTML">
                    </div>
                    <button class="btn btn-outline self-end" _="on click halt the event">Agregar Barco</button>
                </div>
                <div class="w-full flex flex-col overflow-x-auto"
                        id="lista-barcos"
                        hx-get="/listar-barcos"
                        hx-trigger="load"
                        hx-target="#lista-barcos"
                        hx-swap="innerHTML">
                    <span class="loading loading-bars loading-lg"></span>
                </div>
                <button class="btn btn-outline self-end mt-10" _="on click halt the event call (#accordionStep2).click()">Siguiente</button>
            </div>
        </div>
        <div class="collapse collapse-arrow join-item border border-base-300">
            <input type="radio" name="my-accordion-4" id="accordionStep2"/> 
            <div class="collapse-title text-xl font-medium">
                Seleccione el patr&oacute;n
            </div>
            <div class="collapse-content flex flex-col"> 
                <div class="my-5 self-start flex flex-row w-full">
                    <div class="form flex flex-row grow">
                        <label for="busqueda-patron" class="label mr-3">Buscar:</label>
                        <input type="search"
                                name="busqueda-patron" 
                                class="input input-bordered w-30 max-w-xs mr-3"
                                hx-post="/listar-patrones"
                                hx-trigger="keyup changed delay:500ms, search"
                                hx-target="#lista-patrones"
                                hx-swap="innerHTML">
                    </div>
                    <button class="btn btn-outline self-end"  _="on click halt the event call agregarPatronModal.showModal()">Agregar Patr&oacute;n</button>
                </div>
                <div class="w-full flex flex-col overflow-x-auto" 
                        id="lista-patrones" 
                        hx-get="/listar-patrones"
                        hx-trigger="load"
                        hx-target="#lista-patrones"
                        hx-swap="innerHTML">
                    <span class="loading loading-bars loading-lg"></span>
                </div>
                <button class="btn btn-outline self-end mt-10" _="on click halt the event call (#accordionStep3).click()">Siguiente</button>
            </div>
        </div>
        <div class="collapse collapse-arrow join-item border border-base-300">
            <input type="radio" name="my-accordion-4" id="accordionStep3" /> 
            <div class="collapse-title text-xl font-medium">
                Ingrese otros detalles y finalice
            </div>
            <div class="collapse-content flex flex-col"> 
                <div class="flex flex-row items-center">
                    <label for="hora" class="mr-5 w-16">Fecha:</label>
                    <input type="date" name="fecha" placeholder="Fecha" class="input input-bordered w-5/12" required>
                </div>
                <div class="flex flex-row items-center mt-5">
                    <label for="hora" class="mr-5 w-16">Hora:</label>
                    <input type="time" name="hora" placeholder="Hora" class="input input-bordered w-5/12" required>
                </div>
                <div class="flex flex-row items-center mt-5">
                    <label for="destino" class="mr-5 w-16">Destino:</label>
                    <input type="text" name="destino" placeholder="Destino" class="input input-bordered w-5/12" required>
                </div>
                <button type="submit" class="btn bg-cyan-500 border-0 self-end mt-10">Finalizar</button>
            </div>
        </div>
    </div>
</form>

<dialog id="agregarPatronModal" class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <h3 class="font-bold text-lg">Agregar Patr&oacute;n</h3>
    <form id="form-nuevo-patron"
            action="/crear-patron" 
            method="POST" 
            hx-boost
            hx-post="/crear-patron" 
            hx-target="#lista-patrones" 
            hx-swap="innerHTML"
            class="flex flex-col w-full p-5">
        <legend>Ingrese los datos del patr&oacute;n o conductor.</legend>
        <div class="flex flex-row mt-3">
            <label for="codigo" class="w-1/4 mr-3">C&oacute;digo</label>
            <input type="text" name="codigo" class="input input-bordered w-3/4">
        </div>
        <div class="flex flex-row mt-3">
            <label for="nombre" class="w-1/4 mr-3">Nombre Completo</label>
            <input type="text" name="nombre" class="input input-bordered w-3/4">
        </div>
        <div class="flex flex-row mt-3">
            <label for="telefono" class="w-1/4 mr-3">Tel&eacute;fono</label>
            <input type="tel" name="telefono" class="input input-bordered w-3/4">
        </div>
        <div class="flex flex-row mt-3">
            <label for="direccion" class="w-1/4 mr-3">Direcci&oacute;n</label>
            <textarea name="direccion" rows="3" class="input input-bordered w-3/4 h-full"></textarea>
        </div>
        <button type="submit" class="btn btn-secondary btn-outline w-1/4 self-end mt-3">Guardar</button>
    </form>
  </div>
</dialog>

<script>
    htmx.on('htmx:afterRequest', (evt) => {
        if (evt.srcElement.id === 'form-nuevo-patron') {
            evt.srcElement.parentNode.querySelector("form[method=dialog] > button").click();
        }
    });
</script>