{% extends "base-admin.html" %}

{%block title %}Inicio{% endblock %}

{%block pageTitle %}Inicio{% endblock %}

{% block pageContent %}
<div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12 flex flex-col">
    <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl text-yellow-400">Na&uacute;tico</h1>
    <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">Administre su club marino con confianza.</p>
    <a hx-boost href="/viajes" hx-get="/viajes" hx-target="#page-container" hx-swap="innerHTML" class="btn btn-outline w-40 self-center">Ver Viajes</a>
</div>
{% endblock %}
